# --- Data Processing ---
joblib
numpy
pandas
requests
scikit-learn

# --- Statistical and Clinical Analysis ---
lifelines
pingouin
tableone

# --- Visualization ---
matplotlib
plotly
seaborn

# --- Deep Learning and Survival (PyCox) ---
pycox
shap
torch
torchtuples